<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>se.hger.comp_profiles_handler</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/comp_profiles_handler.py</string>
	</array>
	<key>QueueDirectories</key>
	<array/>
	<key>WatchPaths</key>
	<array>
		<string>/usr/local/comp_profiles/</string>
	</array>
</dict>
</plist>
